@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*  Colours */

.bg-color-name-title {
    background-color: #676767;
}

.bg-color-three-reasons {
    background-color: #fff;
}

.bg-color-personal-info {
    background-color: #f0e7e7;
}

.ui-menu-color-home {
    background-color: #e67e22;
}

.ui-menu-color-projects {
    background-color: #9b59b6;
}

.ui-menu-color-contact {
    background-color: #3498db;
}

.ui-menu-color-download {
    background-color: #525252;
}

.bg-color-contact {
    background-color: #fff;
}

.active div {
    text-decoration: underline;
}

/* Special padding/margin/text */

h1, h2, h3, h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 30px 30px 30px;
}

.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
    text-align: center;
}


/* Heading */

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/rosie.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}


.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem div {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/* Hover.css */

.hvr-sweep-to-bottom:before {
    background-color: rgba(0,0,0,0.2);
    height: 120px;
}

/* Footer */

.position {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section {
    flex: 1;
}
  

footer {
    background-color: #525252;
    color: #fafafa;
    margin: 0;
}

.social-links {
    margin: 0;
}

.social-links li a i {
    padding: 15px 0;
    font-size: 30px;
    line-height: 12px;
    text-align: center;
    color: #fafafa;

}

.social-links li a i:hover {
    color: #e67e22;
}

#footer-details {
    padding: 33px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;   
}

.me {
    margin-bottom: 0;
    padding: 5px;
}

.social-links li a {
    margin: 0 15px;
}

/* Three reasons */

.three-reasons-icon {
    font-size: 26px;
    color: #e67e22;
}

.three-reasons-heading {
    margin-bottom: 15px;   
}

.personal-name {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: "Exo", sans-serif;
}


.skill-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
}

.skill-header {
    font-weight: bold;
    font-family: "Exo", sans-serif;
}



/* Projects */ 

.projects {
    background-color: #74a6c4;
    color: #fff;
}

.projects-header {
    padding-bottom: 15px;
    font-weight: bold;
    font-family: "Exo", sans-serif;
}

.project-skills {
    font-size: 20px;
    margin-bottom: 0;
}

.img-resize {
  max-width: 100%;
  height: auto;
}

.project-section {
    margin: 10px;
}

.pro {
    margin-top: 30px;
}

.project-link {
    list-style: none;
    color: #676767;
}

.project-link:hover {
    color: #997e66;
    font-weight: bold;
}

.git-margin {
    margin: 20px;
    text-align: center;
}

.git-link {
    color: #fff;
    font-size: 25px;
}

.git-link:hover {
    color: #997e66;
    font-weight: bold;
}

/* Contact form */

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
}

/* Media Queries */

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}